[Unit]
Description=Minecraft World Backup
After=minecraft.service

[Service]
Type=oneshot
User=YOUR_USER
Group=YOUR_USER
ExecStart=/usr/local/bin/minecraft-backup.sh
